In [1]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table',
                  index_col=0)
df[1]

                                             Summer Games                     \
Team (IOC code)                                         № Unnamed: 2_level_1
Afghanistan (AFG)                                      14                  0
Algeria (ALG)                                          13                  5
Argentina (ARG)                                        24                 21
Armenia (ARM)                                           6                  2
Australasia (ANZ) [ANZ]                                 2                  3
...                                                   ...                ...
Zimbabwe (ZIM) [ZIM]                                   13                  3
Independent Olympic Athletes (IOA) [IOA]                3                  1
Independent Olympic Participants (IOP) [IOP]            1                  0
Mixed team (ZZX) [ZZX]                                  3                  8
Totals                                                 28               5115

                                                                 \
Team (IOC code)                              Unnamed: 3_level_1
Afghanistan (AFG)                                             0
Algeria (ALG)                                                 4
Argentina (ARG)                                              25
Armenia (ARM)                                                 6
Australasia (ANZ) [ANZ]                                       4
...                                                         ...
Zimbabwe (ZIM) [ZIM]                                          4
Independent Olympic Athletes (IOA) [IOA]                      0
Independent Olympic Participants (IOP) [IOP]                  1
Mixed team (ZZX) [ZZX]                                        5
Totals                                                     5082

                                                                        \
Team (IOC code)                              Unnamed: 4_level_1  Total
Afghanistan (AFG)                                             2      2
Algeria (ALG)                                                 8     17
Argentina (ARG)                                              28     74
Armenia (ARM)                                                 6     14
Australasia (ANZ) [ANZ]                                       5     12
...                                                         ...    ...
Zimbabwe (ZIM) [ZIM]                                          1      8
Independent Olympic Athletes (IOA) [IOA]                      1      2
Independent Olympic Participants (IOP) [IOP]                  2      3
Mixed team (ZZX) [ZZX]                                        4     17
Totals                                                     5488  15685

                                             Winter Games                     \
Team (IOC code)                                         № Unnamed: 7_level_1
Afghanistan (AFG)                                       0                  0
Algeria (ALG)                                           3                  0
Argentina (ARG)                                        19                  0
Armenia (ARM)                                           7                  0
Australasia (ANZ) [ANZ]                                 0                  0
...                                                   ...                ...
Zimbabwe (ZIM) [ZIM]                                    1                  0
Independent Olympic Athletes (IOA) [IOA]                0                  0
Independent Olympic Participants (IOP) [IOP]            0                  0
Mixed team (ZZX) [ZZX]                                  0                  0
Totals                                                 23               1062

                                                                 \
Team (IOC code)                              Unnamed: 8_level_1
Afghanistan (AFG)                                             0
Algeria (ALG)                                                 0
Argentina (ARG)                                               0
Armenia (ARM)                                                 0
Australasia (ANZ) [ANZ]                                       0
...                                                         ...
Zimbabwe (ZIM) [ZIM]                                          0
Independent Olympic Athletes (IOA) [IOA]                      0
Independent Olympic Participants (IOP) [IOP]                  0
Mixed team (ZZX) [ZZX]                                        0
Totals                                                     1058

                                                                       \
Team (IOC code)                              Unnamed: 9_level_1 Total
Afghanistan (AFG)                                             0     0
Algeria (ALG)                                                 0     0
Argentina (ARG)                                               0     0
Armenia (ARM)                                                 0     0
Australasia (ANZ) [ANZ]                                       0     0
...                                                         ...   ...
Zimbabwe (ZIM) [ZIM]                                          0     0
Independent Olympic Athletes (IOA) [IOA]                      0     0
Independent Olympic Participants (IOP) [IOP]                  0     0
Mixed team (ZZX) [ZZX]                                        0     0
Totals                                                     1050  3170

                                             Combined Total  \
Team (IOC code)                                           №
Afghanistan (AFG)                                        14
Algeria (ALG)                                            16
Argentina (ARG)                                          43
Armenia (ARM)                                            13
Australasia (ANZ) [ANZ]                                   2
...                                                     ...
Zimbabwe (ZIM) [ZIM]                                     14
Independent Olympic Athletes (IOA) [IOA]                  3
Independent Olympic Participants (IOP) [IOP]              1
Mixed team (ZZX) [ZZX]                                    3
Totals                                                   51

                                                                  \
Team (IOC code)                              Unnamed: 12_level_1
Afghanistan (AFG)                                              0
Algeria (ALG)                                                  5
Argentina (ARG)                                               21
Armenia (ARM)                                                  2
Australasia (ANZ) [ANZ]                                        3
...                                                          ...
Zimbabwe (ZIM) [ZIM]                                           3
Independent Olympic Athletes (IOA) [IOA]                       1
Independent Olympic Participants (IOP) [IOP]                   0
Mixed team (ZZX) [ZZX]                                         8
Totals                                                      6177

                                                                  \
Team (IOC code)                              Unnamed: 13_level_1
Afghanistan (AFG)                                              0
Algeria (ALG)                                                  4
Argentina (ARG)                                               25
Armenia (ARM)                                                  6
Australasia (ANZ) [ANZ]                                        4
...                                                          ...
Zimbabwe (ZIM) [ZIM]                                           4
Independent Olympic Athletes (IOA) [IOA]                       0
Independent Olympic Participants (IOP) [IOP]                   1
Mixed team (ZZX) [ZZX]                                         5
Totals                                                      6140


Team (IOC code)                              Unnamed: 14_level_1  Total
Afghanistan (AFG)                                              2      2
Algeria (ALG)                                                  8     17
Argentina (ARG)                                               28     74
Armenia (ARM)                                                  6     14
Australasia (ANZ) [ANZ]                                        5     12
...                                                          ...    ...
Zimbabwe (ZIM) [ZIM]                                           1      8
Independent Olympic Athletes (IOA) [IOA]                       1      2
Independent Olympic Participants (IOP) [IOP]                   2      3
Mixed team (ZZX) [ZZX]                                         4     17
Totals                                                      6538  18855

[153 rows x 15 columns]

In [2]:
winter = df[1].iloc[:-1,5:10]

In [3]:
winter.columns = ['games', 'gold', 'silver', 'bronze', 'total']
winter.head()

                         games  gold  silver  bronze  total
Afghanistan (AFG)            0     0       0       0      0
Algeria (ALG)                3     0       0       0      0
Argentina (ARG)             19     0       0       0      0
Armenia (ARM)                7     0       0       0      0
Australasia (ANZ) [ANZ]      0     0       0       0      0

In [6]:
print(winter.sort_values('gold', ascending = False))

                                         games  gold  silver  bronze  total
Norway (NOR) [Q]                            23   132     125     111    368
United States (USA) [P] [Q] [R] [Z] [F]     23   105     112      88    305
Germany (GER) [GER] [Z]                     12    92      88      60    240
Soviet Union (URS) [URS]                     9    78      57      59    194
Canada (CAN)                                23    73      64      62    199
...                                        ...   ...     ...     ...    ...
Haiti (HAI) [J]                              0     0       0       0      0
Guyana (GUY) [GUY]                           0     0       0       0      0
Guatemala (GUA)                              1     0       0       0      0
Grenada (GRN)                                0     0       0       0      0
Mixed team (ZZX) [ZZX]                       0     0       0       0      0

[152 rows x 5 columns]

In [20]:
# winter["gold"].sum() , winter["gold"].mean() , winter['gold'].max(), winter['gold'].min()
winter['total'].sum(), winter["total"].mean() , winter['total'].max(), winter['total'].min()

(3170, 20.855263157894736, 368, 0)

In [21]:
# winter[winter['gold']==132]
winter[winter['total']==368]

                  games  gold  silver  bronze  total
Norway (NOR) [Q]     23   132     125     111    368

In [15]:
winter[(winter['gold']<50) & (winter['gold']>30) ]

                          games  gold  silver  bronze  total
Finland (FIN)                23    43      63      61    167
France (FRA) [O] [P] [Z]     23    36      35      53    124
East Germany (GDR) [GDR]      6    39      36      35    110
Italy (ITA) [M] [S]          23    40      36      48    124
South Korea (KOR)            18    31      25      14     70
Netherlands (NED) [Z]        21    45      44      41    130
Russia (RUS) [RUS]            6    47      38      35    120

In [22]:
winter2 = winter[(winter['total']<50) & (winter['total']>30) ]
print(winter2)

                               games  gold  silver  bronze  total
Czech Republic (CZE) [CZE]         7     9      11      11     31
West Germany (FRG) [FRG]           6    11      15      13     39
Great Britain (GBR) [GBR] [Z]     23    11       4      17     32

In [29]:
winter2.sort_values('games')

                               games  gold  silver  bronze  total
West Germany (FRG) [FRG]           6    11      15      13     39
Czech Republic (CZE) [CZE]         7     9      11      11     31
Great Britain (GBR) [GBR] [Z]     23    11       4      17     32

In [3]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table',
                  index_col=0)
df[1]

                                             Summer Games                     \
Team (IOC code)                                         № Unnamed: 2_level_1
Afghanistan (AFG)                                      14                  0
Algeria (ALG)                                          13                  5
Argentina (ARG)                                        24                 21
Armenia (ARM)                                           6                  2
Australasia (ANZ) [ANZ]                                 2                  3
...                                                   ...                ...
Zimbabwe (ZIM) [ZIM]                                   13                  3
Independent Olympic Athletes (IOA) [IOA]                3                  1
Independent Olympic Participants (IOP) [IOP]            1                  0
Mixed team (ZZX) [ZZX]                                  3                  8
Totals                                                 28               5115

                                                                 \
Team (IOC code)                              Unnamed: 3_level_1
Afghanistan (AFG)                                             0
Algeria (ALG)                                                 4
Argentina (ARG)                                              25
Armenia (ARM)                                                 6
Australasia (ANZ) [ANZ]                                       4
...                                                         ...
Zimbabwe (ZIM) [ZIM]                                          4
Independent Olympic Athletes (IOA) [IOA]                      0
Independent Olympic Participants (IOP) [IOP]                  1
Mixed team (ZZX) [ZZX]                                        5
Totals                                                     5082

                                                                        \
Team (IOC code)                              Unnamed: 4_level_1  Total
Afghanistan (AFG)                                             2      2
Algeria (ALG)                                                 8     17
Argentina (ARG)                                              28     74
Armenia (ARM)                                                 6     14
Australasia (ANZ) [ANZ]                                       5     12
...                                                         ...    ...
Zimbabwe (ZIM) [ZIM]                                          1      8
Independent Olympic Athletes (IOA) [IOA]                      1      2
Independent Olympic Participants (IOP) [IOP]                  2      3
Mixed team (ZZX) [ZZX]                                        4     17
Totals                                                     5488  15685

                                             Winter Games                     \
Team (IOC code)                                         № Unnamed: 7_level_1
Afghanistan (AFG)                                       0                  0
Algeria (ALG)                                           3                  0
Argentina (ARG)                                        19                  0
Armenia (ARM)                                           7                  0
Australasia (ANZ) [ANZ]                                 0                  0
...                                                   ...                ...
Zimbabwe (ZIM) [ZIM]                                    1                  0
Independent Olympic Athletes (IOA) [IOA]                0                  0
Independent Olympic Participants (IOP) [IOP]            0                  0
Mixed team (ZZX) [ZZX]                                  0                  0
Totals                                                 23               1062

                                                                 \
Team (IOC code)                              Unnamed: 8_level_1
Afghanistan (AFG)                                             0
Algeria (ALG)                                                 0
Argentina (ARG)                                               0
Armenia (ARM)                                                 0
Australasia (ANZ) [ANZ]                                       0
...                                                         ...
Zimbabwe (ZIM) [ZIM]                                          0
Independent Olympic Athletes (IOA) [IOA]                      0
Independent Olympic Participants (IOP) [IOP]                  0
Mixed team (ZZX) [ZZX]                                        0
Totals                                                     1058

                                                                       \
Team (IOC code)                              Unnamed: 9_level_1 Total
Afghanistan (AFG)                                             0     0
Algeria (ALG)                                                 0     0
Argentina (ARG)                                               0     0
Armenia (ARM)                                                 0     0
Australasia (ANZ) [ANZ]                                       0     0
...                                                         ...   ...
Zimbabwe (ZIM) [ZIM]                                          0     0
Independent Olympic Athletes (IOA) [IOA]                      0     0
Independent Olympic Participants (IOP) [IOP]                  0     0
Mixed team (ZZX) [ZZX]                                        0     0
Totals                                                     1050  3170

                                             Combined Total  \
Team (IOC code)                                           №
Afghanistan (AFG)                                        14
Algeria (ALG)                                            16
Argentina (ARG)                                          43
Armenia (ARM)                                            13
Australasia (ANZ) [ANZ]                                   2
...                                                     ...
Zimbabwe (ZIM) [ZIM]                                     14
Independent Olympic Athletes (IOA) [IOA]                  3
Independent Olympic Participants (IOP) [IOP]              1
Mixed team (ZZX) [ZZX]                                    3
Totals                                                   51

                                                                  \
Team (IOC code)                              Unnamed: 12_level_1
Afghanistan (AFG)                                              0
Algeria (ALG)                                                  5
Argentina (ARG)                                               21
Armenia (ARM)                                                  2
Australasia (ANZ) [ANZ]                                        3
...                                                          ...
Zimbabwe (ZIM) [ZIM]                                           3
Independent Olympic Athletes (IOA) [IOA]                       1
Independent Olympic Participants (IOP) [IOP]                   0
Mixed team (ZZX) [ZZX]                                         8
Totals                                                      6177

                                                                  \
Team (IOC code)                              Unnamed: 13_level_1
Afghanistan (AFG)                                              0
Algeria (ALG)                                                  4
Argentina (ARG)                                               25
Armenia (ARM)                                                  6
Australasia (ANZ) [ANZ]                                        4
...                                                          ...
Zimbabwe (ZIM) [ZIM]                                           4
Independent Olympic Athletes (IOA) [IOA]                       0
Independent Olympic Participants (IOP) [IOP]                   1
Mixed team (ZZX) [ZZX]                                         5
Totals                                                      6140


Team (IOC code)                              Unnamed: 14_level_1  Total
Afghanistan (AFG)                                              2      2
Algeria (ALG)                                                  8     17
Argentina (ARG)                                               28     74
Armenia (ARM)                                                  6     14
Australasia (ANZ) [ANZ]                                        5     12
...                                                          ...    ...
Zimbabwe (ZIM) [ZIM]                                           1      8
Independent Olympic Athletes (IOA) [IOA]                       1      2
Independent Olympic Participants (IOP) [IOP]                   2      3
Mixed team (ZZX) [ZZX]                                         4     17
Totals                                                      6538  18855

[153 rows x 15 columns]