In [1]:
import os
# 한글 지원
os.putenv('NLS_LANG', '.UTF8')

In [2]:
def ipchecker():    
    import urllib 
    import re
    
    pattern = re.compile(b'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}')
    dyndns = urllib.request.urlopen('http://checkip.dyndns.org').read()
    
    wan = re.search(pattern, dyndns).group().decode('utf-8')
    
    return wan

In [4]:
# base db_connect param

local_ip = '200.1.220.251:1521/xe' # 원내에서 접속할 db_ip
outside_ip = '61.35.152.103:1521/xe' # 원밖에서 접속할 db_ip
localhost = 'localhost:1521/xe'

db_id = 'begopa' 
db_pwd = 'begopa1'

academy_ip = '61.35.152.66'
db_ip = local_ip if academy_ip == ipchecker() else outside_ip

db_ip = localhost # 집에서 본인의 개인 컴퓨터dptj  오라클에 접속할때는

In [5]:
import pickle
# load object ::
# :: file_nm
# :: columns and data_type
with open("./pickle/col2dict.pickle","rb") as fr:
    col2dict = pickle.load(fr)
with open("./pickle/table_nm_set.pickle","rb") as fr:
    table_nm_set = pickle.load(fr)

In [6]:
path = "./sg-data/"
desc_path = path + 'desc/'
col_path = path + 'col/'
origin_path = path + 'origin/'

file_list = os.listdir(origin_path)

In [7]:
# _, _, _, table_col_set_ = extract_table_columns_set(file_list[0]) # _, :: 임시로 쓰고 버리는 값.

In [8]:
# 자치구별 상권 변화지표 db 에서 한글 컬럼으로 가져오기
# oracle_to_df('자치구별 상권변화지표')
def load_to_df(kr_tbl_nm):
    for key, value in table_nm_set.items():
        if kr_tbl_nm == value:
            table_nm = key
            columns = [ arr[0] for arr in col2dict[key] ]
           
    import cx_Oracle
    import pandas as pd
    
    db = cx_Oracle.connect(db_id, db_pwd, db_ip) 
        
    sql = 'select * from ' + table_nm

    df = pd.read_sql(sql=sql, con = db) 
    df.columns = columns
    db.close
    
    return df

In [9]:
import re
import os

file_list = os.listdir(origin_path)
for file in file_list:
    kr_tbl_nm = re.findall('(\d\d).*\((.*)\)',file)
    print(kr_tbl_nm[0][0], kr_tbl_nm[0][1])

00 상권-영역
01 상권-추정유동인구
02 상권-집객시설
03 상권배후지-추정유동인구
04 상권배후지-집객시설
05 상권배후지-상주인구
06 상권_상주인구
07 상권배후지-아파트
08 상권배후지-점포
09 상권-상권변화지표
10 행정동별 상권변화지표
11 상권-추정매출
12 상권-직장인구
13 상권배후지-소득소비
14 상권배후지-직장인구
15 자치구별 상권변화지표
16 상권-아파트
18 상권-점포
19 상권배후지-추정매출

In [13]:
import pandas as pd

df = load_to_df('상권_상주인구')
# df12 = load_to_df('상권-직장인구')
df6 = df.copy()
df6["상권/배후지"] = 0
df6.columns=df6.columns.str.replace(' ','_')

In [14]:
df1 = load_to_df('상권배후지-상주인구')
df5 = df1.copy()
df5["상권/배후지"] = 1
df5.columns=df6.columns.str.replace('hl_','')

In [19]:
df_5_6=pd.concat([df6,df5])

In [22]:
stay_pop=df_5_6.drop(df_5_6.iloc[:,5:23],axis=1)

In [23]:
stay_pop

,기준_년_분기_코드,상권_코드,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수,상권/배후지
0,2019_2,1001496,26,17,9,15,0,15,0
1,2019_2,1001495,7083,3291,3792,3958,52,3906,0
2,2019_2,1001494,1930,1293,637,1500,180,1320,0
3,2019_2,1001493,2012,1008,1004,1134,28,1106,0
4,2019_2,1001492,1118,404,714,497,0,497,0
...,...,...,...,...,...,...,...,...,...
2015,2019_1,1000005,6102,2958,3144,2607,8,2599,1
2016,2019_1,1000004,9137,4521,4616,4910,257,4653,1
2017,2019_1,1000003,3512,2033,1479,2394,150,2244,1
2018,2019_1,1000002,11047,5624,5423,6257,2285,3972,1
2019,2019_1,1000001,5455,2544,2911,2517,0,2517,1