In [1]:
import numpy as np
import pandas as pd

In [28]:
# 상권별 기준
store1=pd.read_csv('data/02.상권-집객시설.csv', encoding='EUC-KR')
# store1.info()
store1.keys()

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '집객시설_수', '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수',
       '초등학교_수', '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수'],
      dtype='object')

In [29]:
store2=pd.read_csv('data/18.상권분석서비스(상권-점포).csv', encoding='EUC-KR')
# store2.info()
store_name= store2['서비스_업종_코드_명'].unique()   # 서비스 업종 코드명 119개
len(store_name)
store2.keys()

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [30]:
store1_year19=store1[store1['기준_년_코드']==2019]
# year19[year19[기준_분기_코드]==1]
store1_year19['기준_분기_코드'].unique()       #1 , 2 분기

store2_y19=store2[store2['기준_년_코드']==2019]
store2_y19['기준_분기_코드'].unique()      # 1~4 분기 다 있음

array([4, 3, 2, 1], dtype=int64)

In [31]:
pop=pd.read_csv('data/01.상권-추정유동인구.csv',encoding='EUC-KR')
pop_col=pd.read_csv('data/01.col.csv',encoding='EUC-KR')
# pop.keys() #총_유동인구_수

In [32]:
store1_year19.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
1462,2019,2,A,골목상권,1000953,백제고분로50길,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0
1463,2019,2,R,전통시장,1001361,신도봉시장,1,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464,2019,2,R,전통시장,1001387,서교시장,2,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1465,2019,2,R,전통시장,1001366,상계시장,1,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1466,2019,2,R,전통시장,1001308,영동교골목시장,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN

In [37]:
store1_year19=store1_year19.fillna('0')
store1_year19.head()
# store1_year19.info()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
1462,2019,2,A,골목상권,1000953,백제고분로50길,14,0,0,0,...,0,0,0,0,2,0,0,0,0,1
1463,2019,2,R,전통시장,1001361,신도봉시장,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1464,2019,2,R,전통시장,1001387,서교시장,2,0,0,0,...,0,0,0,2,0,0,0,0,0,0
1465,2019,2,R,전통시장,1001366,상계시장,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1466,2019,2,R,전통시장,1001308,영동교골목시장,4,0,0,0,...,0,0,0,0,2,0,0,0,0,0

In [51]:
data1=store1_year19.groupby(['상권_코드','기준_분기_코드']).sum()['집객시설_수']

상권_코드    기준_분기_코드
1000001  1            73
         2            73
1000002  1             8
         2             8
1000003  1            41
                    ...
1001494  2           327
1001495  1           242
         2           242
1001496  1            52
         2            52
Name: 집객시설_수, Length: 2924, dtype: int64