In [1]:
import os
# 한글 지원
os.putenv('NLS_LANG', '.UTF8')

In [2]:
def ipchecker():    
    import urllib 
    import re
    
    pattern = re.compile(b'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}')
    dyndns = urllib.request.urlopen('http://checkip.dyndns.org').read()
    
    wan = re.search(pattern, dyndns).group().decode('utf-8')
    
    return wan

In [3]:
# base db_connect param

local_ip = '200.1.220.251:1521/xe' # 원내에서 접속할 db_ip
outside_ip = '61.35.152.103:1521/xe' # 원밖에서 접속할 db_ip
localhost = 'localhost:1521/xe'

db_id = 'begopa' 
db_pwd = 'begopa1'

academy_ip = '61.35.152.66'
db_ip = local_ip if academy_ip == ipchecker() else outside_ip

# db_ip = localhost # 집에서 본인의 개인 컴퓨터dptj  오라클에 접속할때는

In [4]:
import pickle
# load object ::
# :: file_nm
# :: columns and data_type
with open("./pickle/col2dict.pickle","rb") as fr:
    col2dict = pickle.load(fr)
with open("./pickle/table_nm_set.pickle","rb") as fr:
    table_nm_set = pickle.load(fr)

In [5]:
path = "./sg-data/"
desc_path = path + 'desc/'
col_path = path + 'col/'
origin_path = path + 'origin/'

file_list = os.listdir(origin_path)

In [6]:
# _, _, _, table_col_set_ = extract_table_columns_set(file_list[0]) # _, :: 임시로 쓰고 버리는 값.

In [7]:
# 자치구별 상권 변화지표 db 에서 한글 컬럼으로 가져오기
# oracle_to_df('자치구별 상권변화지표')
def load_to_df(kr_tbl_nm):
    for key, value in table_nm_set.items():
        if kr_tbl_nm == value:
            table_nm = key
            columns = [ arr[0] for arr in col2dict[key] ]
           
    import cx_Oracle
    import pandas as pd
    
    db = cx_Oracle.connect(db_id, db_pwd, db_ip) 
        
    sql = 'select * from ' + table_nm

    df = pd.read_sql(sql=sql, con = db) 
    df.columns = columns
    db.close
    
    return df

In [8]:
import re
import os

file_list = os.listdir(origin_path)
for file in file_list:
    kr_tbl_nm = re.findall('(\d\d).*\((.*)\)',file)
    print(kr_tbl_nm[0][0], kr_tbl_nm[0][1])

00 상권-영역
01 상권-추정유동인구
02 상권-집객시설
03 상권배후지-추정유동인구
04 상권배후지-집객시설
05 상권배후지-상주인구
06 상권_상주인구
07 상권배후지-아파트
08 상권배후지-점포
09 상권-상권변화지표
10 행정동별 상권변화지표
11 상권-추정매출
12 상권-직장인구
13 상권배후지-소득소비
14 상권배후지-직장인구
15 자치구별 상권변화지표
16 상권-아파트
18 상권-점포
19 상권배후지-추정매출

In [9]:
import pandas as pd

df = load_to_df('상권-추정유동인구')
# df12 = load_to_df('상권-직장인구')
df1 = df.copy()

# print(df1.head())
df1_1=df1[df1['기준_년_분기_코드']=='2019_1']
df1_2=df1[df1['기준_년_분기_코드']=='2019_2']

In [10]:
week = {'여성' : ['월요일','화요일','수요일','목요일','금요일'],
       '남성' : ['월요일','화요일','수요일','목요일','금요일'],}

weeks = {'여성' : ['토요일','일요일'], '남성':['토요일','일요일'],}

weekend = {'여성' : ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'],
         '남성' : ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'],}
delete_word = '시간대'

In [11]:
def delete_age_by_time(any_df, any_dict, any_word):
    # df1.filter(like='여성').filter(like='토요일')
    for key, values in any_dict.items():
        for value in values:
            any_df[key+'_'+value+'_시간_유동인구수'] = any_df.filter(like=key).filter(like=value).sum(axis=1)
            del_columns = any_df.filter(like=key).filter(like=value).filter(like=any_word).columns
            any_df.drop(del_columns, axis=1, inplace=True)
                    
    return any_df

def delete_day1(any_df, any_dict):
    # df1.filter(like='여성').filter(like='토요일')
    for key, values in any_dict.items():
        for value in values:
            any_df[key+'_주중_시간_유동인구수'] = any_df.filter(like=key).filter(like=value).sum(axis=1)
            del_columns = any_df.filter(like=key).filter(like=value).columns
            any_df.drop(del_columns, axis=1, inplace=True)            
    return any_df

def delete_day2(any_df, any_dict):
    # df1.filter(like='여성').filter(like='토요일')
    for key, values in any_dict.items():
        for value in values:
            any_df[key+'_주말_시간_유동인구수'] = any_df.filter(like=key).filter(like=value).sum(axis=1)
            del_columns = any_df.filter(like=key).filter(like=value).columns
            any_df.drop(del_columns, axis=1, inplace=True)            
    return any_df

In [12]:
pop_time_sex_total = delete_age_by_time(df1, weekend, delete_word)    # 여성, 남성 요일별, 시간대별 컬럼을 요일 인구로 합

In [13]:
# pop_time_sex_total.info()

In [14]:
pop_time_sex_total=pop_time_sex_total.drop(pop_time_sex_total.iloc[:,5:17], axis=1)

In [15]:
pop_time_sex_total=pop_time_sex_total.set_index('상권_코드')#.filter(like='요일')

In [16]:
# pop_time_sex_total.info()

In [17]:
pop_s_total=pop_time_sex_total.copy()

In [18]:
pop_total=delete_day1(pop_s_total, week )

In [19]:
# pop_total.head()

In [20]:
pop_total = delete_day2(pop_total, weeks)

In [21]:
# pop_total.info()

In [22]:
# 비율 구하기
def ratio(df_col1,df_col2):
    total = df_col1+df_col2
    total2 = df_col1/total*100
    return total2

In [45]:
pop_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2990 entries, 1000001 to 1001382
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년_분기_코드       2990 non-null   object
 1   총_유동인구_수         2990 non-null   int64
 2   남성_유동인구_수        2990 non-null   int64
 3   여성_유동인구_수        2990 non-null   int64
 4   월요일_유동인구_수       2990 non-null   int64
 5   화요일_유동인구_수       2990 non-null   int64
 6   수요일_유동인구_수       2990 non-null   int64
 7   목요일_유동인구_수       2990 non-null   int64
 8   금요일_유동인구_수       2990 non-null   int64
 9   토요일_유동인구_수       2990 non-null   int64
 10  일요일_유동인구_수       2990 non-null   int64
 11  여성_주중_시간_유동인구수   2990 non-null   int64
 12  남성_주중_시간_유동인구수   2990 non-null   int64
 13  여성_주말_시간_유동인구수   2990 non-null   int64
 14  남성_주말_시간_유동인구수   2990 non-null   int64
 15  여성_주중시간_유동인구_비율  2989 non-null   float64
 16  여성_주말시간_유동인구_비율  2989 non-null   float64
 17  남성_주중시간_유동인구_비율  2989 non-null   float64
 18  남성_주말시간_유동인구_비율  2989 non-null   float64
 19  총_주중_유동인구수       2990 non-null   int64
 20  총_주말_유동인구수       2990 non-null   int64
 21  주중_유동인구_비율       2990 non-null   float64
 22  주말_유동인구_비율       2990 non-null   float64
 23  남성_유동인구_비율       2990 non-null   float64
 24  여성_유동인구_비율       2990 non-null   float64
dtypes: float64(8), int64(16), object(1)
memory usage: 607.3+ KB

In [24]:
pop_total['여성_주중시간_유동인구_비율']=ratio(pop_total['여성_주중_시간_유동인구수'],pop_total['여성_주말_시간_유동인구수'])
pop_total['여성_주말시간_유동인구_비율']=ratio(pop_total['여성_주말_시간_유동인구수'],pop_total['여성_주중_시간_유동인구수'])

pop_total['남성_주중시간_유동인구_비율']=ratio(pop_total['남성_주중_시간_유동인구수'],pop_total['남성_주말_시간_유동인구수'])
pop_total['남성_주말시간_유동인구_비율']=ratio(pop_total['남성_주말_시간_유동인구수'],pop_total['남성_주중_시간_유동인구수'])

In [56]:
pop_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2990 entries, 1000001 to 1001382
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년_분기_코드       2990 non-null   object
 1   총_유동인구_수         2990 non-null   int64
 2   남성_유동인구_수        2990 non-null   int64
 3   여성_유동인구_수        2990 non-null   int64
 4   월요일_유동인구_수       2990 non-null   int64
 5   화요일_유동인구_수       2990 non-null   int64
 6   수요일_유동인구_수       2990 non-null   int64
 7   목요일_유동인구_수       2990 non-null   int64
 8   금요일_유동인구_수       2990 non-null   int64
 9   토요일_유동인구_수       2990 non-null   int64
 10  일요일_유동인구_수       2990 non-null   int64
 11  여성_주중_시간_유동인구수   2990 non-null   int64
 12  남성_주중_시간_유동인구수   2990 non-null   int64
 13  여성_주말_시간_유동인구수   2990 non-null   int64
 14  남성_주말_시간_유동인구수   2990 non-null   int64
 15  여성_주중시간_유동인구_비율  2989 non-null   float64
 16  여성_주말시간_유동인구_비율  2989 non-null   float64
 17  남성_주중시간_유동인구_비율  2989 non-null   float64
 18  남성_주말시간_유동인구_비율  2989 non-null   float64
 19  총_주중_유동인구수       2990 non-null   int64
 20  총_주말_유동인구수       2990 non-null   int64
 21  주중_유동인구_비율       2990 non-null   float64
 22  주말_유동인구_비율       2990 non-null   float64
 23  남성_유동인구_비율       2990 non-null   float64
 24  여성_유동인구_비율       2990 non-null   float64
dtypes: float64(8), int64(16), object(1)
memory usage: 607.3+ KB

In [61]:
pop_total[pop_total['여성_주중시간_유동인구_비율'].isnull()]   #1001344
pop_total[pop_total['남성_주말시간_유동인구_비율'].isnull()]   #1000026
pop_total=pop_total.fillna(0)  # 비율에서 nan값 발생. 확인해 보니 0을 나눠서 그렇게됨. 0으로 값 대체함.

In [62]:
pop_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2990 entries, 1000001 to 1001382
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년_분기_코드       2990 non-null   object
 1   총_유동인구_수         2990 non-null   int64
 2   남성_유동인구_수        2990 non-null   int64
 3   여성_유동인구_수        2990 non-null   int64
 4   월요일_유동인구_수       2990 non-null   int64
 5   화요일_유동인구_수       2990 non-null   int64
 6   수요일_유동인구_수       2990 non-null   int64
 7   목요일_유동인구_수       2990 non-null   int64
 8   금요일_유동인구_수       2990 non-null   int64
 9   토요일_유동인구_수       2990 non-null   int64
 10  일요일_유동인구_수       2990 non-null   int64
 11  여성_주중_시간_유동인구수   2990 non-null   int64
 12  남성_주중_시간_유동인구수   2990 non-null   int64
 13  여성_주말_시간_유동인구수   2990 non-null   int64
 14  남성_주말_시간_유동인구수   2990 non-null   int64
 15  여성_주중시간_유동인구_비율  2990 non-null   float64
 16  여성_주말시간_유동인구_비율  2990 non-null   float64
 17  남성_주중시간_유동인구_비율  2990 non-null   float64
 18  남성_주말시간_유동인구_비율  2990 non-null   float64
 19  총_주중_유동인구수       2990 non-null   int64
 20  총_주말_유동인구수       2990 non-null   int64
 21  주중_유동인구_비율       2990 non-null   float64
 22  주말_유동인구_비율       2990 non-null   float64
 23  남성_유동인구_비율       2990 non-null   float64
 24  여성_유동인구_비율       2990 non-null   float64
dtypes: float64(8), int64(16), object(1)
memory usage: 607.3+ KB

In [27]:
pop_total['총_주중_유동인구수']=pop_total.iloc[:,4:9].sum(axis=1)
pop_total['총_주말_유동인구수']=pop_total.iloc[:,9:11].sum(axis=1)

In [28]:
pop_total['주중_유동인구_비율']=ratio(pop_total['총_주중_유동인구수'],pop_total['총_주말_유동인구수'])
pop_total['주말_유동인구_비율']=ratio(pop_total['총_주말_유동인구수'],pop_total['총_주중_유동인구수'])
pop_total['남성_유동인구_비율']=ratio(pop_total['남성_유동인구_수'],pop_total['여성_유동인구_수'])
pop_total['여성_유동인구_비율']=ratio(pop_total['여성_유동인구_수'],pop_total['남성_유동인구_수'])

In [29]:
pop_total.head()

,기준_년_분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,...,여성_주중시간_유동인구_비율,여성_주말시간_유동인구_비율,남성_주중시간_유동인구_비율,남성_주말시간_유동인구_비율,총_주중_유동인구수,총_주말_유동인구수,주중_유동인구_비율,주말_유동인구_비율,남성_유동인구_비율,여성_유동인구_비율
상권_코드,,,,,,,,,,,,,,,,,,,,,
1000001,2019_1,118266,61268,56997,15602,16948,17053,18090,19122,17650,...,55.740616,44.259384,60.350962,39.649038,86815,31451,73.406558,26.593442,51.805691,48.194309
1000002,2019_1,246619,147358,99261,29952,29688,30735,31196,34814,42919,...,46.855164,53.144836,39.644610,60.355390,156385,90234,63.411578,36.588422,59.751276,40.248724
1000003,2019_1,144480,80073,64407,19806,19937,21081,22238,24603,21131,...,59.739471,40.260529,62.153874,37.846126,107665,36815,74.518965,25.481035,55.421512,44.578488
1000012,2019_1,166390,70339,96051,23431,23792,24378,23819,25957,23319,...,56.240003,43.759997,52.162617,47.837383,121377,45018,72.945101,27.054899,42.273574,57.726426
1000013,2019_1,65518,33437,32080,7998,8808,9081,9785,11075,11064,...,58.534213,41.465787,59.419226,40.580774,46747,18769,71.352036,28.647964,51.035609,48.964391

In [30]:
df1 = load_to_df('상권배후지-추정유동인구')
df3=df1.copy()
df3_1=df1[df1['기준_년_분기_코드']=='2019_1']
df3_2=df1[df1['기준_년_분기_코드']=='2019_2']

In [31]:
def delete_age_by_time(any_df, any_dict, any_word):
    # df1.filter(like='여성').filter(like='토요일')
    for key, values in any_dict.items():
        for value in values:
            any_df['hl_'+key+'_'+value+'_시간_유동인구수'] = any_df.filter(like=key).filter(like=value).sum(axis=1)
            del_columns = any_df.filter(like=key).filter(like=value).filter(like=any_word).columns
            any_df.drop(del_columns, axis=1, inplace=True)
                    
    return any_df

def delete_day1(any_df, any_dict):
    # df1.filter(like='여성').filter(like='토요일')
    for key, values in any_dict.items():
        for value in values:
            any_df['hl_'+key+'_주중_시간_유동인구수'] = any_df.filter(like=key).filter(like=value).sum(axis=1)
            del_columns = any_df.filter(like=key).filter(like=value).columns
            any_df.drop(del_columns, axis=1, inplace=True)            
    return any_df

def delete_day2(any_df, any_dict):
    # df1.filter(like='여성').filter(like='토요일')
    for key, values in any_dict.items():
        for value in values:
            any_df['hl_'+key+'_주말_시간_유동인구수'] = any_df.filter(like=key).filter(like=value).sum(axis=1)
            del_columns = any_df.filter(like=key).filter(like=value).columns
            any_df.drop(del_columns, axis=1, inplace=True)            
    return any_df

In [32]:
pop_time_sex_total_hl = delete_age_by_time(df3, weekend, delete_word)    # 여성, 남성 요일별, 시간대별 컬럼을 요일 인구로 합

In [33]:
pop_time_sex_total_hl=pop_time_sex_total_hl.drop(pop_time_sex_total_hl.iloc[:,5:17], axis=1)

In [34]:
pop_time_sex_total_hl=pop_time_sex_total_hl.set_index('상권_코드')

In [35]:
pop_s_total_hl=pop_time_sex_total_hl.copy()

In [36]:
pop_total_hl=delete_day1(pop_s_total_hl, week )

In [37]:
pop_total_hl = delete_day2(pop_total_hl, weeks)

In [38]:
pop_total_hl.head()

,기준_년_분기_코드,hl_총_유동인구_수,hl_남성_유동인구_수,hl_여성_유동인구_수,hl_월요일_유동인구_수,hl_화요일_유동인구_수,hl_수요일_유동인구_수,hl_목요일_유동인구_수,hl_금요일_유동인구_수,hl_토요일_유동인구_수,hl_일요일_유동인구_수,hl_여성_주중_시간_유동인구수,hl_남성_주중_시간_유동인구수,hl_여성_주말_시간_유동인구수,hl_남성_주말_시간_유동인구수
상권_코드,,,,,,,,,,,,,,,
1000645,2019_1,161694,87243,74446,21334,23552,21093,19746,25262,19046,31669,12176,13086,13996,17681
1000646,2019_1,190850,108281,82567,24107,26263,23440,21755,28149,26770,40371,12463,15696,17809,22542
1000647,2019_1,238761,118531,120230,28805,31886,32701,27639,36014,25002,56717,18183,17776,31284,25399
1000659,2019_1,1461213,844363,616850,207306,209675,211512,211242,226887,193423,201172,94941,131903,90013,111187
1000660,2019_1,1871791,1006595,865199,270634,268851,275138,275837,296301,245161,239879,135955,160361,118190,121662

In [39]:
pop_total_hl['hl_여성_주중시간_유동인구_비율']=ratio(pop_total_hl['hl_여성_주중_시간_유동인구수'],pop_total_hl['hl_여성_주말_시간_유동인구수'])
pop_total_hl['hl_여성_주말시간_유동인구_비율']=ratio(pop_total_hl['hl_여성_주말_시간_유동인구수'],pop_total_hl['hl_여성_주중_시간_유동인구수'])

pop_total_hl['hl_남성_주중시간_유동인구_비율']=ratio(pop_total_hl['hl_남성_주중_시간_유동인구수'],pop_total_hl['hl_남성_주말_시간_유동인구수'])
pop_total_hl['hl_남성_주말시간_유동인구_비율']=ratio(pop_total_hl['hl_남성_주말_시간_유동인구수'],pop_total_hl['hl_남성_주중_시간_유동인구수'])

In [40]:
pop_total_hl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2020 entries, 1000645 to 1000933
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년_분기_코드          2020 non-null   object
 1   hl_총_유동인구_수         2020 non-null   int64
 2   hl_남성_유동인구_수        2020 non-null   int64
 3   hl_여성_유동인구_수        2020 non-null   int64
 4   hl_월요일_유동인구_수       2020 non-null   int64
 5   hl_화요일_유동인구_수       2020 non-null   int64
 6   hl_수요일_유동인구_수       2020 non-null   int64
 7   hl_목요일_유동인구_수       2020 non-null   int64
 8   hl_금요일_유동인구_수       2020 non-null   int64
 9   hl_토요일_유동인구_수       2020 non-null   int64
 10  hl_일요일_유동인구_수       2020 non-null   int64
 11  hl_여성_주중_시간_유동인구수   2020 non-null   int64
 12  hl_남성_주중_시간_유동인구수   2020 non-null   int64
 13  hl_여성_주말_시간_유동인구수   2020 non-null   int64
 14  hl_남성_주말_시간_유동인구수   2020 non-null   int64
 15  hl_여성_주중시간_유동인구_비율  2020 non-null   float64
 16  hl_여성_주말시간_유동인구_비율  2020 non-null   float64
 17  hl_남성_주중시간_유동인구_비율  2020 non-null   float64
 18  hl_남성_주말시간_유동인구_비율  2020 non-null   float64
dtypes: float64(4), int64(14), object(1)
memory usage: 315.6+ KB

In [41]:
pop_total_hl['hl_총_주중_유동인구수']=pop_total_hl.iloc[:,4:9].sum(axis=1)
pop_total_hl['hl_총_주말_유동인구수']=pop_total_hl.iloc[:,9:11].sum(axis=1)

In [42]:
pop_total_hl['hl_주중_유동인구_비율']=ratio(pop_total_hl['hl_총_주중_유동인구수'],pop_total_hl['hl_총_주말_유동인구수'])
pop_total_hl['hl_주말_유동인구_비율']=ratio(pop_total_hl['hl_총_주말_유동인구수'],pop_total_hl['hl_총_주중_유동인구수'])
pop_total_hl['hl_남성_유동인구_비율']=ratio(pop_total_hl['hl_남성_유동인구_수'],pop_total_hl['hl_여성_유동인구_수'])
pop_total_hl['hl_여성_유동인구_비율']=ratio(pop_total_hl['hl_여성_유동인구_수'],pop_total_hl['hl_남성_유동인구_수'])

In [43]:
pop_total_hl.groupby(['상권_코드','기준_년_분기_코드']).sum()

                    hl_총_유동인구_수  hl_남성_유동인구_수  hl_여성_유동인구_수  hl_월요일_유동인구_수  \
상권_코드   기준_년_분기_코드
1000001 2019_1           471903        253713        218188          64833
        2019_2           638841        326643        312201          84298
1000002 2019_1          2186033       1237827        948202         284199
        2019_2          2628926       1482662       1146258         346819
1000003 2019_1          1818586       1015350        803234         245357
...                         ...           ...           ...            ...
1001008 2019_2          3983885       1862103       2121778         526891
1001009 2019_1          3070192       1485625       1584578         422530
        2019_2          3786483       1819086       1967396         519481
1001010 2019_1          2607258       1287202       1320057         359986
        2019_2          3042301       1486009       1556282         423684

                    hl_화요일_유동인구_수  hl_수요일_유동인구_수  hl_목요일_유동인구_수  \
상권_코드   기준_년_분기_코드
1000001 2019_1              68915          71120          74903
        2019_2              96375          96234          96575
1000002 2019_1             279331         288592         297908
        2019_2             352768         354830         353536
1000003 2019_1             246844         262327         274347
...                           ...            ...            ...
1001008 2019_2             537237         549441         544206
1001009 2019_1             424502         428299         431779
        2019_2             525680         535013         526529
1001010 2019_1             364958         364133         366251
        2019_2             420131         423938         421715

                    hl_금요일_유동인구_수  hl_토요일_유동인구_수  hl_일요일_유동인구_수  ...  \
상권_코드   기준_년_분기_코드                                               ...
1000001 2019_1              79530          63823          48784  ...
        2019_2              97009          96726          71632  ...
1000002 2019_1             349075         348740         338181  ...
        2019_2             389687         415344         415939  ...
1000003 2019_1             311807         283421         194472  ...
...                           ...            ...            ...  ...
1001008 2019_2             599189         635226         591692  ...
1001009 2019_1             485540         443779         433769  ...
        2019_2             562287         566325         551183  ...
1001010 2019_1             401187         384467         366283  ...
        2019_2             443515         462598         446728  ...

                    hl_여성_주중시간_유동인구_비율  hl_여성_주말시간_유동인구_비율  \
상권_코드   기준_년_분기_코드
1000001 2019_1               57.755026           42.244974
        2019_2               53.554392           46.445608
1000002 2019_1               54.718623           45.281377
        2019_2               52.266896           47.733104
1000003 2019_1               60.127818           39.872182
...                                ...                 ...
1001008 2019_2               51.841281           48.158719
1001009 2019_1               54.002626           45.997374
        2019_2               51.779454           48.220546
1001010 2019_1               53.620937           46.379063
        2019_2               51.161298           48.838702

                    hl_남성_주중시간_유동인구_비율  hl_남성_주말시간_유동인구_비율  hl_총_주중_유동인구수  \
상권_코드   기준_년_분기_코드
1000001 2019_1               65.885866           34.114134         359301
        2019_2               61.646089           38.353911         470491
1000002 2019_1               48.107660           51.892340        1499105
        2019_2               45.650640           54.349360        1797640
1000003 2019_1               62.766299           37.233701        1340682
...                                ...                 ...            ...
1001008 2019_2               48.639238           51.360762        2756964
1001009 2019_1               51.570291           48.429709        2192650
        2019_2               49.150143           50.849857        2668990
1001010 2019_1               50.911069           49.088931        1856515
        2019_2               48.458791           51.541209        2132983

                    hl_총_주말_유동인구수  hl_주중_유동인구_비율  hl_주말_유동인구_비율  \
상권_코드   기준_년_분기_코드
1000001 2019_1             112607      76.137934      23.862066
        2019_2             168358      73.646668      26.353332
1000002 2019_1             686921      68.576723      31.423277
        2019_2             831283      68.379333      31.620667
1000003 2019_1             477893      73.721568      26.278432
...                           ...            ...            ...
1001008 2019_2            1226918      69.202953      30.797047
1001009 2019_1             877548      71.417218      28.582782
        2019_2            1117508      70.487030      29.512970
1001010 2019_1             750750      71.205459      28.794541
        2019_2             909326      70.110663      29.889337

                    hl_남성_유동인구_비율  hl_여성_유동인구_비율
상권_코드   기준_년_분기_코드
1000001 2019_1          53.764031      46.235969
        2019_2          51.130323      48.869677
1000002 2019_1          56.624455      43.375545
        2019_2          56.398141      43.601859
1000003 2019_1          55.831900      44.168100
...                           ...            ...
1001008 2019_2          46.740929      53.259071
1001009 2019_1          48.388494      51.611506
        2019_2          48.041586      51.958414
1001010 2019_1          49.369932      50.630068
        2019_2          48.845064      51.154936

[2020 rows x 24 columns]